body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #0b3c5d;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h2 {
    color: #0b3c5d;
}

footer {
    background: #eee;
    text-align: center;
    padding: 10px;
}
.whatsapp-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

